<div class="container d-none" id="weather-container">
    <h2 class="text-center mb-3" id="cityName"></h2>
    <div class="weather-report">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-danger">
                    <div class="card-header py-3 text-bg-danger border-danger">
                        <h4 class="my-0 fw-normal">Tempratures</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title" id="temp">27<small
                                class="text-body-secondary fw-light">°C</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Temprature is <span id="temp"></span> </li>
                            <li>Min Temprature <span id="temp_min"></span></li>
                            <li>Max Temprature is <span id="temp_max"></span></li>
                        </ul>
                        <!-- <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-alert">
                    <div class="card-header py-3 text-bg-alert border-alert">
                        <h4 class="my-0 fw-normal">Humidity</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><span id="humidity"></span><small
                                class="text-body-secondary fw-light">%</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Wind degree is <span id="wind_degree"></span></li>
                            <li>Feels like <span id="feels_like"></span></li>
                            <li>Humidity <span id="humidity"></span></li>
                        </ul>
                        <!-- <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-alert">
                    <div class="card-header py-3 text-bg-alert border-alert">
                        <h4 class="my-0 fw-normal">Wind</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><span id="windSpeed"></span><small
                                class="text-body-secondary fw-light">km/hr</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Wind Speed is <span id="windSpeed"></span></li>
                            <li>Sunrise Time is <span id="sunrise"></span></li>
                            <li>Sunset Time is <span id="sunset"></span></li>
                        </ul>
                        <!-- <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>